* {
    box-sizing: border-box;
    
}
.containet{
    height: 500px;
    width: 800px;
    display:flex;
    border: 2px solid black;
    flex-wrap: wrap;
}
header{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar{
    width: 200px;
    height: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

.remaining{
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
