
body {
    margin: 0px;
    padding: 0px;
}
.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
a {
    background-color: #222;
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    padding: 10px;
    width: 260px;
}
a:hover {
    color: #776d6d;
    background-color: rgba(34, 34, 34, 0.99)
}
i {
    padding-bottom: 2px;
}