body{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(196, 170, 178);
    font: white;

}

a:hover{
    background-color:beige;
    padding: 10 px;
}

ul{
    display: flex;
}

/* to take away the dotes */
li{
    list-style: none;
    padding: 10px;
}


.parallax {
    width: 100%;
    background-image: url('FlexBoxCenterImage.png');
    background-size: cover;
    border: 1px solid red;
    /* for parallax scrolling  */
    min-height: 500px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}